
:root{
    /*Colors*/
    --GL: #c3e06d;
    --DG: #95a54d;
    --AR: #b25c59;
    --B: #0c0f06;
    --G: #36343c;
    }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.graphicDesignAnimation{
    overflow: visible;
}
.logo{
    animation: draw 4s linear forwards;
    stroke-dasharray:381.44696044921875px;
    stroke-dashoffset:381.44696044921875px;
}

@keyframes draw{
    from{
        stroke-dashoffset:381.44696044921875px;
    }
    to{
        stroke-dashoffset: 0;
    }
}
.pencil{
    offset-path: path("M66.7071 51.2725C65.1497 53.386 62.6002 54.8041 59.5127 54.8041C52.6217 54.8041 26.1532 54.7917 14.8763 54.7917C3.59944 54.7917 -2.4855 42.9402 2.78025 33.8196C8.046 24.6991 6.2915 27.7379 13.7701 14.7847C16.9821 9.22122 24.2791 4.96126 31.4558 4.54411C39.2279 4.09233 47.708 8.08158 51.7795 15.1336L51.7795 15.1336C60.3905 30.0483 63.578 35.5518 67.0964 41.6459C69.0385 45.0096 68.6256 48.6688 66.7071 51.2725Z M66.7735 51.5514C68.8843 55.605 69.0131 60.6968 66.4476 65.1404C61.1819 74.2609 62.9364 71.222 55.4578 84.1753C52.2458 89.7388 44.9488 93.9987 37.7721 94.4159C30 94.8677 21.5198 90.8784 17.4484 83.8264L17.4484 83.8264C8.83737 68.9117 5.64992 63.4082 2.13146 57.3141C-1.38699 51.2199 2.82419 44.1559 9.71519 44.1559C16.6062 44.1559 43.0747 44.1683 54.3516 44.1683C60.1343 44.1683 64.5518 47.2848 66.7735 51.5514Z");
    animation: move 4s linear forwards;
    offset-rotate: 0deg;
    transform-origin: center;
    transform: translate(-15px,-3px);
  }

  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
.codeLine20{animation: codeLine20 200ms linear forwards;}
.codeLine40{animation: codeLine40 500ms linear forwards;}
.codeLine60{animation: codeLine60 600ms linear forwards;}
.codeLine80{animation: codeLine80 800ms linear forwards;}

#codeLine2{animation-delay: 200ms;}
#codeLine3{animation-delay: 800ms;}
#codeLine4{animation-delay: 1400ms;}
#codeLine5{animation-delay: 1600ms;}
#codeLine6{animation-delay: 2400ms;}
#codeLine7{animation-delay: 2600ms;}
#codeLine8{animation-delay: 3000ms;}
#codeLine9{animation-delay: 3800ms;}
#codeLine10{animation-delay: 4000ms;}
#codeLine11{animation-delay: 4400ms;}

@keyframes codeLine20{
    from{width:0px;}
    to{width:20px;}
}
@keyframes codeLine40{
    from{width:0px;}
    to{width:40px;}
}
@keyframes codeLine60{
    from{width:0px;}
    to{width:60px;}
}
@keyframes codeLine80{
    from{width:0px;}
    to{width:80px;}
}

.slideLeft{
    animation: slideLeft 4s 5s linear forwards;
}

@keyframes slideLeft{
    0%{transform: translate(0px);}
    25%{transform: translate(-100px);}
    75%{transform: translate(-100px);}
    100%{transform: translate(0px);}
}
